<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

			<div class="container">
			

			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aabhishek.naath@gmail.com">Work email</a></li>
	        		<li><a href="https://github.com/an15ms157">My github</a></li>
				<li><a href="https://www.linkedin.com/in/abhishek-nath-17b07b116/">My LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
